<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Course Confirmation</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Courses Data</h1>
    
	<div>
		<strong>Course Name: </strong><%- name %><br>
        <strong>Grade: </strong><%- grade %><br>
        <strong>GPA: </strong><%- gpa %><br>
        <strong>Semester: </strong><%- semester %><br>
        <strong>Professor: </strong><%- professor %>
        <strong>Predicted Age: </strong><%- age %><br>
        <strong>Course Description: </strong><br><%- description %><br>
	</div>
    
    <hr>
    <strong>Task completed at <%- date %></strong>
    <hr>
    <a href="/index">HOME</a>
</body>

</html>